# Fichiers et répertoires généraux à ignorer
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Environnements virtuels
venv/
env/

# Fichiers spécifiques à l'IDE
.vscode/
.idea/

# Fichiers de logs
*.log

# Fichiers de sauvegarde
*.bak
*.swp
*~

# Fichiers de configuration sensibles
config.py
credentials.json

# Dépendances installées
lib/
bin/
